<h1>About Us</h1>

<p>Spill Your Bucket is an online platform that allows users to organize their goals and aspirations. We are essentially your virtual bucket list!</p>

<h1>Our Mission</h1>

<p>Our mission is to institute the establishment of an online arena consistinng of free flowing information. The purpose of this arena is to connect like-minded, goal-oriented individuals, in an effort to help complete their lifelong dreams and aspirations.</p>